
section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    > h1 {
      font-size: 7em;
      text-transform: uppercase;
      color: blanchedalmond;
      z-index: 2 ;
  
    }
  
    // .title {
    //   position: absolute;
    // }
  }
  // .container {
  //   width: 50%;
  //   height: 80%;
  //   background-color: dodgerBlue;
  
  // }