@import '../variables.scss';
.spacer {
	width:100%;
	height:50vh;
	background:#ddd;
}


.desktopContentSection > h1 {
	font-size:clamp(2em, 4vw, 6em);
	border-left: 10px solid $accent;
	padding-left:1em;
}

.gallery > p {
	font-size: 2em;
	line-height:1.4;
}


.gallery {
  display:flex;	
  /* outline:1px solid red; */
  .left {
	  width:50%;
  }
  .right {
	  height:100vh;
	  /* outline:1px solid purple; */
	  width:50%;
	  display:flex;
	  flex-direction:column;
	  justify-content:center;
  }
}



.desktopContent {
	margin:auto;
	width:80%;
}

.desktopContentSection {
	min-height:100vh;
	/* outline:1px solid green; */
	display:flex;
	flex-direction:column;
	justify-content:center;
}


.desktopPhotos {
	width:40vw;
	height:40vw;
	border-radius:20px;
	position:relative;
	overflow:hidden;
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.4);
	transition: 250ms ease-in-out all;
}

.detail {
	height: 100%;
	transition: 250ms ease-in-out all;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	> p {
		margin: 0;
		text-align: left;
		font-weight: bold;
	}


	
	h2 {
		color: white;
		font-size: 2em;
		text-align: center;
		margin-top: 0;
		padding-top: 1em;
	}
}

.detail-overlay {
	transform: translateY(101%);
	height: 100%;
	background-color: rgba(0, 0, 0, 0.966);
	transition: 250ms ease-in-out all;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%
	
}

.desktopPhoto {
	position:absolute;
	width:100%;
	height:100%;
}


.detail-link {
	padding: .75em 3em;
	border: 2px solid $accent;
	color: $accent;
	font-size: larger;
	border-radius: 10px;
	background-color: transparent;
	color: inherit;
	text-decoration: none;
	transition: 250ms ease-in-out all;
	
	&:hover {
		background-color: $accent;
		color: white;
		transition: 250ms ease-in-out all;
	}
}

.buttons-ctn {
	display: flex;
	justify-content: left;
	gap: 10%;
	align-items: center;
	width: 100%;
	margin-top: 1em;
}


/* small screen / mobile layout */
.mobileContent {
	display:none;
	width:80vw;
}

.mobilePhoto {
	width:80vw;
	height:80vw;
	margin-top:5em;
	border-radius:6vw;
}






/* defines styles for screens up to 599px wide */
@media screen and (max-width: 599px) {
	.left {
		display:none;
	}
	
	.right {
		height:auto;
		width:100%;
		align-items:center;	
	}	
	
	.desktopPhotos {
		display:none;
	}
	
	.mobileContent {
		display:block;
	}
	

}

